<%- include('../partials/header.ejs')%>
    <div class="container">
        <h2>Expenses <a href="/expenses/new" style="font-weight: bold;">+</a></h2>
    </div>
<%- include('../partials/footer.ejs')%>