<%- include('../partials/header.ejs')%>
    <div class="container">
        <h1>Welcome, <%=user.firstName%>!</h1>
        <button style="bottom: 40px;"><a href="/users/logout">Logout</a></button>
    </div>
<%- include('../partials/footer.ejs')%>